<% extend('../partials/template') %>
    <h2>
        <%= title %>
    </h2>

    <% (data || []).forEach(element =>{ %>
        <p>
            <a href="/fisk_enkelt/<%=element.fisk_id%>">
                <%= element.fisk_navn %>
            </a>
        </p>
        <% }) %>